* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
img {
    border-radius: 27px;
}
/*左边栏*/
._fix {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
}
.primary {
    float: left;
    position: relative;
    width: 100px;
    height: 100%;
    background-color: #1D2531;
}
.primary img {
    position: absolute;
    left: 20px;
}
.plane {
    top: 20px;
}
.rocket {
    top: 100px;
}
.game {
    top: 180px;
}
.add {
    top: 260px;
}
.primary .grid {
    left: 25px;
    bottom: 18px;
}
.primary .Settings {
    left: 55px;
    bottom: 18px;
}
.secondary {
    float: left;
    position: relative;
    width: 250px;
    height: 100%;
    background-color: #222C3C;

}
.one ,.two ,.three {
    margin: 20px 30px;
    font-size: 12px;
    line-height: 33px;
}
.part {
    color: #525E70;
    background: right center url("../images/Settings.png") no-repeat;
}
.secondary li {
    color: #B3BCC9;
}
.two li {
    padding-left: 30px;
}
.book {
    background: url("../images/BookofWisdom.png") center left no-repeat;
}
.vid {
    background: url("../images/VideoCamera.png") center left no-repeat;
}
.pic {
    background: url("../images/Painting.png") center left no-repeat;
}
.info {
    background: url("../images/Chart.png") center left no-repeat;
}
.three {
     position: relative;
 }
.blue {
    position: absolute;
    right: 0;
    top: 38px;
    height: 25px;
    line-height: 25px;
    background-color: #259AF3;
    color: #E2F2FD;
    padding: 0 10px;
    border-radius: 15px;
}
.red {
    position: absolute;
    right: 0;
    top: 110px;
    height: 25px;
    line-height: 25px;
    background-color: #EC4C30;
    color: #E2F2FD;
    padding: 0 10px;
    border-radius: 15px;
}
.four {
    position: absolute;
    bottom: 15px;
    left: 25px;
}
.four p {
    color: #F6F6F7;
    margin-bottom: 10px;
}
.four .pup {
    float: left;
    width: 40px;
    height: 2px;
    border: 1px solid #9886E4;
    border-radius: 1px;
}
.four .pupr {
    width: 190px;
    height: 2px;
    border: 1px solid #2D3848;
    border-radius: 1px;
}
/*内容区*/
.chats {
    width: 1168px;
    height: 100%;
    background-color: #FFFFFF;
    margin-left: 350px;
}
.tit {
    width: 1168px;
    height: 80px;
    border-bottom: 1px solid #EAECEF;
}
.tit p{
    display: inline-block;
    font-size: 24px;
    color: #354052;
    margin-left: 30px;
    line-height: 80px;
}
.mine {
    float: right;
    margin: 15px 0px 15px 0;
}
.mine img {
    float: left;

}
.mine p {
    width: 165px;
    height: 50px;
    font-size: 16px;
    line-height: 25px;
    color: #CACACA;
}
span {
    color: #2499F1;
}
/*搜索*/
.inp {
    width: 100%;
    height: 70px;
    border: 1px solid #E8EBED;
    border-top: 0;
}
/*用户*/
.left {
    float: left;
    width: 400px;
}
.friend {
    position: relative;
    width: 400px;
    height: 130px;
    padding: 15px 20px 20px 30px;
    border: 1px solid #E8EBED;
    border-top: 0;
    border-left: 0;
    font-size: 14px;
}
.user {
    float: left;
    width: 250px;
    height: 50px;
    color: #585D68;
}
.user p:last-child{
    color: #BDBDBD;
}
.dis {
    float: right;
    color: #C8CFD8;
}
.down {
    clear: both;
    color: #82858D;
}
.user img {
    float: left;
    margin-right: 20px;
}
.down p {
    color: #898C94;
}
.ll {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #2399F2;
}
.search {
    width: 400px;
    height: 70px;
    padding: 18px 30px 15px 35px;
    border-right: 1px solid #E8EBED;
}
.search input{
    width: 340px;
    height: 30px;
    border: 1px solid #E8EBED;
    padding-left: 15px;
    color: #BCC3CF;
}
.right {
    float: left;
    width: 768px;
}
.ind {
    width: 768px;
    height: 100%;
}
.news {
    position: relative;
    width: 100%;
    border: 1px solid #E8EBED;
    padding: 10px 0;
}
.day {
    position: absolute;
    top: 0;
    left: 50%;
    height: 25px;
    margin-top: -12px;
    padding: 0 20px;
    background-color: #fff;
    color: #9BA7B8;
}
.human {
    padding: 25px 50px 20px 30px;
}
.human img {
    float: left;
}
.content2 .name {
    display: inline;
    font-size: 16px;
    color: #595E69;
}
.content2 .clock {
    display: inline;
    font-size: 14px;
    color: #93A1B3;
    margin-left: 5px;
}
.content2 {
    padding-left: 70px;
}
.content2 p {
    font-size: 14px;
    color: #A5A8AE;
    line-height: 20px;
    margin-top: 3px;
}
.newday {
    border-top: 1px solid #69B9F6;
}
.newday .day {
    color: #69B9F6;
}
.mes {
    margin: 20px 0 15px 30px;
    width: 600px;
    height: 50px;
    border: 1px solid #E8EBED;
}
.mes p {
    font-size: 14px;
    color: #70747E;
    line-height: 25px;
}
.pho img {
    display: inline-block;
    border-radius: 0;
}
.pho {
    margin-left: 100px;
}
